@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
*:focus {
    outline: none;
}

body {
    background-color: #30364e;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    z-index: 100;
}

a:hover {
    text-decoration: none;
}

img {
    -webkit-touch-callout: none;
}

.space {
    height: 95px;
}